@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    background-color: #222;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #9370db, #00ff7f, #ffff00, #0072ff);
    background-size: 800% 800%;
    animation: gradientAnimation 20s ease infinite;
    opacity: 0.5;
    z-index: -1;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container-fluid {
    z-index: 1;
    width: 100%;
    max-width: 800px;
    padding: 0 1rem;
}

h1, h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.logo {
    
        max-width: 145px;
        height: auto;
        margin-top: 22px;
    
}

.quiz-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    margin-top: 0.8rem;
}

.quiz-buttons .btn {
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #333;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

.quiz-buttons .btn:hover {
    background-color: #444;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    z-index: 1;
}

@media (max-width: 767px) {
    .quiz-buttons .btn {
        font-size: 1rem;
    }
}
